# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.user.ini
.htaccesss
logs
tmp
sites/all/themes/roofbag/.htaccess
sites/mobile.dd
sites/sites.php
